.myButton{
    background-color: rgb(88, 190, 57);
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
}

.button2 {
    background-color: rgb(172, 30, 141);
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
}